.home-container {
  text-align: center;
  margin-top: 80px;
  font-family: Arial, sans-serif;
}

.home-container h1 {
  font-size: 36px;
  color: #333;
}

.home-container p {
  font-size: 18px;
  color: #666;
}
